# SQLite Cloud connection string
SQLITE_CLOUD_CONNECTION_STRING=

# Mercado Pago credentials
MERCADO_PAGO_ACCESS_TOKEN=

# VAPID keys for push notifications
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Super Admin credentials
SUPERADMIN_USER=
SUPERADMIN_PASS=
